# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

# Backend
Backend/bin/
Backend/obj/
Backend/taskmanager.db
Backend/taskmanager.db-shm
Backend/taskmanager.db-wal

# OS files
.DS_Store
Thumbs.db
